/* Parent container styling */
.attempt-quiz-container {
    width: 800px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
    padding: 30px;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for the heading h2 */
.attempt-quiz-container h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 0;
}

/* Styling for the heading h3 */
.attempt-quiz-container h3 {
    font-size: 18px;
    font-weight: normal;
    color: #555;
    margin-bottom: 20px;
}

/* Individual button container styling */
.button-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%; 
    max-width: 300px; 
}

/* Button styling */
.attempt-button {
    width: 100%; 
    padding: 15px;
    border: 1px solid rgb(197, 192, 192);
    border-radius: 5px;
    background-color: #e3c9a2;
    color: white;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box; 
}

.attempt-button:hover {
    background-color: #c6ae8a;
}
