.home {
  text-align: center;
  background-color: antiquewhite;
  width: 80vw;
  height: 55vh;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  margin: 60px auto 0 auto;
}

.registerButton, .loginButton {
  width: 100%; 
  max-width: 150px; /* Max width for larger screens */
  padding: 15px;
  font-size: 14px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: 30px;
  border-radius: 10px;
  border: 1px solid #b9b5b5;
  background-color: #ffffff;
  color: #2d2929;
  cursor: pointer;
}

.registerButton:hover, .loginButton:hover {
  background-color: rgb(231, 231, 231);
}

h1 {
  font-size: 8vw; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(63, 21, 65);
  margin-top: 30px;
}

.greeting {
  width: 80%; /* Set width to percentage for responsiveness */
  max-width: 200px;
  height: auto; 
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 50px auto; 
  text-align: center;
}

@media (max-width: 600px) {
  .home {
    width: 95%; 
    padding: 15px;
  }

  h1 {
    font-size: 10vw;
  }

  .registerButton, .loginButton {
    width: 100%; 
  }

  .greeting {
    width: 100%; /* Full width for smaller screens */
    margin: 30px auto;
  }
}
