.lcontainer {
    text-align: center; 
    background-color: antiquewhite;
    width: 60vw;
    max-width: 600px; 
    padding: 20px; 
    box-sizing: border-box; 
    border-radius: 15px; 
    margin: 0 auto; 
}

h1 {
    font-size: 50px;
    text-decoration: solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(63, 21, 65);
    margin-bottom: 20px;
}

.formgroup {
    margin-bottom: 15px;
    text-align: left; 
}

.formgroup label {
    display: block;
    margin-bottom: 5px;
}

.formgroup input[type="email"],
.formgroup input[type="password"] {
    width: 100%; 
    padding: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #ccc; 
}

button {
    width: 150px; 
    padding: 10px;
    font-size: 14px; 
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid #ddd3d3; 
    background-color: #e3c9a2;
    color: #2d2929; 
    cursor: pointer;
}

button:hover {
    background-color: #c4aa87;
}

.error-message {
    color: red; 
    margin-top: 10px; 
}

/* Responsive Design */
@media (max-width: 480px) {
    .lcontainer {
        width: 90vw;
        height: 60vh;
        max-width: 90%;
    }

    h2 {
        font-size: 20px; 
    }

    button {
        font-size: 14px;
        padding: 8px;
    }

    .formgroup input[type="text"],
    .formgroup input[type="email"], 
    .formgroup input[type="password"] {
        font-size: 14px; 
    }
}
