.report-detail-container {
    text-align: center; /* Center the content */
    background-color: antiquewhite;
    width: 60vw;
    max-width: 600px; 
    padding: 20px; 
    box-sizing: border-box; 
    border-radius: 15px; 
    margin: 0 auto; 
}

.report-detail-container h1 {
    font-size: 50px;
    text-decoration: solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(63, 21, 65);
    margin-bottom: 20px; /* Added margin below the heading */
}

.report-detail-container p {
    font-size: 18px; /* Adjusted font size for paragraphs */
    margin-bottom: 10px; /* Added margin below paragraphs */
}

.report-detail-container button {
    width: 200px; 
    padding: 10px;
    font-size: 16px; 
    margin-top: 20px; 
    border-radius: 10px; 
    border: 2px solid #ddd3d3;
    background-color: #e3c9a2; 
    color: #2d2929;
    cursor: pointer; 
}

.report-detail-container button:hover {
    background-color: #c4aa87;
}

.error-message {
    color: red; /* Style error message */
    margin-top: 10px; /* Add margin above the error message */
}
